@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
  font-family: "Albert Sans", sans-serif;
}

  ::-webkit-scrollbar{
    display: none;
  }
  
  @media (max-width:640px) {
    a.active{
        background-color: black;
        color: white;
    }
  }

  /* Global CSS or Component-specific CSS */
input[type='checkbox'] {
  accent-color: black; /* Changes the checkbox color to black */
}

